::-webkit-scrollbar {
	display: none !important;
}
::-moz-scrollbar {
	display: none;
}
::scrollbar { 
	display: none; 
}

body{
	background: url("/img/background.jpg") 100% 100% no-repeat fixed;
	background-size: cover;
	font-family: 'Lobster', cursive;
    font-size: 20px;
    color:#6b6b6b;
    margin: 0;
}

header{
	/*background:rgba(101, 165, 192, 1);*/
	background: linear-gradient(to bottom, #babf35, rgba(230, 227, 120, 0));
	width: 100%;
	height: 600px;
	margin-bottom: 40px;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.big-player-button{
	background: none;
	color:#f8ffa2;
	border:4px solid #f8ffa2;
	border-radius: 25px;
	margin-right: 8px;
	padding: 12px 15px;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	cursor: pointer;
}
.big-player-button:disabled{
	color:#949494;
	border:4px solid #949494;
	cursor: default;
}
.big-player-button:hover{
	padding: 20px 23px;
}

.header-main-block{
	background: rgb(248, 255, 162);
	box-shadow:0px 0px 10px 1px rgb(242, 249, 161);
	border-radius: 18px;
	margin: 0 30px 0 30px;
	cursor: default;
	transition: 0.4s ease-out;
	-webkit-transition: 0.4s ease-out;
}
.header-main-block:hover{
	box-shadow:0px 0px 50px 1px rgb(242, 249, 161);
}

.header-main-text{
	font-size: 25pt;
	margin: 10px 0;
}

.header-player-block{
	position: absolute;
	float: left;
	margin-left: 50px;
	font-family: -webkit-body;
}
.header-player-block p{
	margin: 8px 0;
	font-size: larger;
	transition: 0.3s ease;
}
.header-player-block:hover p{
	margin-left: 20px;
}

.simple-button{
	border:5px solid rgb(248, 255, 162);
	padding: 16px;
	border-radius: 27px;
	color: #6b6b6b;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}
.simple-button:hover{
	padding: 24px;
}

/*Надписи в превью*/
.galereya-cell-desc{
	font-size: 18pt;
}

/*Фоновое изображение в слайде*/
.galereya-slider-slide{
	background: url("/img/background.jpg") 100% 100% no-repeat fixed;
	background-size: cover;
}

.galereya-cell-overlay{
	-webkit-box-shadow: inset 0 0 10px 3px #bec176;
	box-shadow: inset 0 0 10px 3px #bec176;
}

.galereya-cell-desc{
	background: #f8ffa2;
	color: #6b6b7a;
}

.galereya-slide-img{
	float: left;
	margin-left: 100px;
	border:6px solid rgba(248, 255, 162, 0.5);
	border-radius: 20px;
}

.galereya-slider-close{
	background:rgb(248, 255, 162);
	padding: 3px 8px;
	opacity: 1;
	width: 92px;
	height: 36px;
	transition: ease 0.3s;
	-webkit-transition: 0.3s ease;
}
.galereya-slider-close:hover{
	border-radius: 0 0 20px 0;
}

.galereya-slider-nav{
	height: 200px;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.05);
	transition: 0.3s ease;
}
.galereya-slider-nav:hover{
	width: 55px;
}

.galereya-poem-block{
	margin:30px 100px 0 0;
	width: 510px;
	float: right;
	font-size:30pt;
	color:#6b6b7a;
}

.galereya-poem-content{
	margin:20px 0;
	font-size: 18pt;
}